@model gpdSW.Models.ViewModels.infoProductos
@{
	ViewData["Title"] = "Productos";
	Layout = "~/Views/shared/Layout.cshtml";
}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
@* 	<link rel="stylesheet" href="~/estilos/csscheese&more.css"> *@
	<link rel="stylesheet" href="~/estilos/cssproductos.css">
	<title>@(Model.Nombre) - Cheese&More</title>
</head>
<body>
	<div class="producto-detalle-container">

		<div class="producto-imagen">
			<img src="~/imagenes/productos/@(Model.Id).png" alt="Tabla de Quesos">
		</div>


		<div class="producto-info">
			<h1>@Model.Nombre</h1>
			<a href="~/Home/Catalogo/@(Model.catid)" class="categoria">@(Model.IdCategoria)</a>
			@if (Model.Stock <= 5)
			{
				<p>Ultimas @(Model.Stock) Piezas</p>

			}
			else
			{
				<p>@(Model.Stock) Piezas Disponibles</p>
			}

			@if (Model.Preciopromocion == null)
			{
				<p class="precio">$@(Model.Precio)</p>
			}
			else
			{
				<p class="promocion">$@(Model.Precio) <p class="precio">$@(Model.Preciopromocion)</p> </p>

			}
			<button class="boton-carrito">Añadir al Carrito</button>


			<div class="descripcion">
				<h3>Descripción del producto</h3>
				<p>
					@Model.Descripcion
				</p>

			</div>
		</div>
	</div>


</body>
</html>